@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white
}
.slide-in {
  animation: slide-in 0.5s ease-out;
}


@keyframes slide-in {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.input-slide-in {
  animation: input-slide-in .3s ease-in-out none;
}

@keyframes input-slide-in{
  0%{
    opacity: 0
  }
  25%{
    transform: translateX(20px);
  }
  50%{
    transform: translateX(20px);

  }
  100%{
    opacity: 1
  }

}
.input-slide-out {
  animation: input-slide-out 1s ease-in-out;
}

@keyframes input-slide-out{
  0%{
    transform: translateX(100%);
    opacity: 0
  }
  25%{
    transform: translateX(-20px);
  }
  50%{
    transform: translateX(-10px);

  }
  100%{
    transform: translateX(0);
    opacity: 1
  }

}

.menu-rotate{
  animation: menu-rotate 1s ease-in-out
}

@keyframes menu-rotate{
  0%{
    transform: rotate(-200deg);
    opacity: 0
  }
  100%{
    transform: rotate(100deg);
    opacity: 1
  }
}

table{
  width: 100%;
  border-collapse:  collapse;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
tr:nth-child(odd){
  background-color: #eee;
  border-radius: 100px;
  border: 2px solid #eee;
}
td{
  padding:5px 10px;
}



